*{
    margin: 0px;
    padding: 0px;
}


.boton-perfil{ /*Estilo Boton a perfil*/
    float: right;
    padding-top: 15px;
    padding-right: 100px;

}

.my-container{ /*Container Pincipal */
   padding-top: 50px;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 50px;
   height: 100%;
   background-color: #d7f1ff;
}

.my-row{
    border: 3px solid red;
    height: 1300px;
}

h2{text-align: center}
h3{text-align:left;}
h4{text-align: center}

.date { /*Fecha Post*/
   float: right;
   color: #828282;
}

.post { /*Css posteo*/
   margin-bottom: 70px;
}
