<!doctype html>

<!--{% load staticfiles %}-->

<html>
    <head>
        <!--<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
        <link rel="stylesheet" href="../../static/css/Estilo_inicio.css">
        <!--<link rel="stylesheet" href="{% static 'css/blog.css' %}">-->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"><!--Ajuste de tamaño-->

        <title>SICU</title>
        <link rel="stylesheet" href="../../static/css/bootstrap.min.css">

    </head>
    <body style="background-color:#FFE3D4;">

        <!--Barra de navegaci0....on (NavBar)-->
        <nav class="navbar navbar-lg navbar-dark" style="background-color: #DB7424;">
            <a class="navbar-brand" href="#">SICU</a><!--Link enlazado al logo-->

            <!--Barra de busqueda-->
            <form class="form-inline" method="POST" action="#"> {% csrf_token %}<!--acionando el boton-->
                <input class="form-control mr-sm-2" name="entrada" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-dark btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>

            <!--Botones de Barra navegacion-->
            <div class="btn-group" role="group"><!--arialabel-->
                <button type="button" class="btn btn-primary">Inicio Sesión</button>
                <button type="button" class="btn btn-secondary">Registrarse</button>
            </div>

        </nav>

        <div class="container-perfil">
            <div class="boton-perfil"><!--Boton perfil-->
                <button type="button" class="btn btn-primary">Perfil</button>
            </div>
        </div>


        <!--Post-->
        <div class="parent-container my-container" style="background-color: #FFC3A1"><!--Contenedor Principal-->

            <div class="row my-row justify-content-around"><!--Columnas-->

                <div class="col-2 my-col align-self-center" style="background-color: #FFE3D4">
                    <h3>Tags:</h3>

                    <h4>#Tag1</h4>
                    <h4>#Tag2</h4>
                    <h4>#Tag3</h4>
                    <h4>#Tag4</h4>
                    <h4>#Tag5</h4>

                </div>

                <div class="col-6 my-col" style="background-color: #FFE3D4">
                  {% block content %}
                  {% endblock %}

                </div>

                <div class="col-2 my-col align-self-start" style="background-color: #FFE3D4">

                    <h3>Publicidad</h3>
                    <img src="../../static/img/uach.png" style="width:280px;height:180px;">

                </div>

            </div>

        </div>

        <script src="../../static/js/jquery-3.1.1.min.js"></script>
        <script src="../../static/js/popper.min.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script>

    </body>
</html>
